body{
    display: flex;
    justify-content: center;
    align-items:center;
    min-height: 100vh;
    background-color: brown ;
}
.container{
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 40vh;
}
form{
    margin: 2rem 0 2rem 0;
}
form select,button,input{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}
form input{
    border: 1px solid lightgray;
    font-size: 1rem;
    height: 3rem;
    padding-left: 0.5rem;
}
.dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}
.dropdown i{
    font-size: 1.5rem;
    margin-top: 1rem;
}
.select-container img{
    max-width: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6rem;
    border-radius: 0.5rem;
    border:1px solid lightgray;
    background-color: red;
}
.select-container select{
    font-size: 1rem;
    width:auto;

}
.msg{
    margin: 2rem 0 2rem 0;

}
form button{
    height: 3rem;
    background-color: greenyellow;
    color: white;
    font-size: 1.15rem;
    cursor: pointer;
}
i{
    display: flex;
    flex-wrap: center;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}
select[name="to"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    direction: ltr;
}